/* *{
    border: 1px solid black;
}
body {
	
    
} */
h1,h2{
    color: #FFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.calculadora-dano {
    color: white;
    margin-left: 25%;
    margin-right: 16%;
    border:none;
    border-radius: 20px;
    background-image:url("/static/img/avengers.png"), url("/static/img/universo.jpg");
    background-repeat: no-repeat;
    background-position: center;
   
    
}

.linha-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;

    
}

.elementos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-position: center;
  
}
.elemento-personagem, 
.elemento-arma{
    text-align: center;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.2s;
    padding-bottom: 10px;
    background-color: azure;
}

.elemento-personagem:hover, 
.elemento-arma:hover{
    transform: scale(1.05);
}

.personagem-selecionado,.arma-selecionada{
    border-bottom: 10px solid aqua;
    transform: scale(1.05);

  
}
button{
    font-weight:bold;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    display: block;
    border-radius: 20px;
    
}

