/* *{
    border: 1px solid black;
} */
body {
	font-family: 'Verdana', sans-serif;
    
}
h1,h2{
    color: #FFF;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}

.calculadora-dano {
    color: white;
    margin-left: 18%;
    margin-right:18%;
    border:none;
    border-radius: 20px;
    background-image:url("/static/img/avengers.png"), url("/static/img/universo.jpg");
    background-repeat: no-repeat;
    background-position: center;
   
    
}

.linha-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;

    
}

.elementos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    background-position: center;
    text-align: center;
}
.elemento-personagem, .elemento-arma{
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    margin: 30px;
    
}

.personagem-selecionado,.arma-selecionada{
    border-bottom: 10px solid aqua;


    
}
button {
    font-weight:bold;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    display: block;
    border-radius: 20px;
}

