<!DOCTYPE html>
<html>

<head>
    <title>Calculadora de Dano</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body>
    <div class="calculadora-dano">
        
        <div class="linha-container">
            <h1 class="titulo pula-linha">CALCULADORA DE DANO</h1>
        </div>

        <div class="linha-container">
            <h2>SELECIONE UM PERSONAGEM</h2>
        </div>

        <div class="elementos-container">
            {% for c in personagens %}
                <div class="elemento-personagem" data-nome="{{c.nome}}" data-vida="{{c.vida}}">
                    <img src="{{c.imagem}}" alt=" " width="200px" height="200px" />
                    <button class="botao-personagem">{{c.nome}}</button>
                </div>
                {% endfor %}

            <div class="linha-container">
                <h2><br>SELECIONE UM ATAQUE</h2>
            </div>

            <div class="elementos-container">
                {% for c in armas %}
                    <div class="elemento-arma" data-nome="{{c.nome}}" data-dano="{{c.dano}}">
                        <img src="{{c.imagem}}" alt="" width="200px" height="200px" />
                        <button class="botao-arma">{{c.nome}}</button>
                    </div>
                    {% endfor %}

            </div>
            <div>
                <button onclick="calcularDano()" >CALCULAR DANO</button>
                <div>
                    <span id="dano"></span>
                </div>
            </div>


        </div>
    </div>
</body>

</html>