<!DOCTYPE html>
<html>

<head>
    <title>Calculadora de Dano</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>

<body>
    <div class="calculadora-dano">
        <div class="linha-container">
            <h1 class="titulo pula-linha">CALCULADORA DE DANO</h1>
        </div>

        <div class="linha-container">
            <h2>SELECIONE UM PERSONAGEM</h2>
        </div>

        <div class="elementos-container">
            <div class="elemento-personagem" id="homem_de_ferro">
                <img src="/static/img/ironman.png" alt="homem_de_ferro" width="200" height="200" />
                <button>Homem de Ferro</button>
            </div>


            <div class="elemento-personagem" id="hulk">
                <img src="/static/img/hulk.png" alt="homem_de_ferro" width="200" height="200" />
                <button>Hulk</button>
            </div>

            <div class="elemento-personagem" id="capitao">
                <img src="/static/img/Capitao-America.png" alt="capitao" width="200" height="200" />
                <button>Capitão America</button>
            </div>

            <div class="linha-container">
                <h2><br>SELECIONE UM ATAQUE</h2>
            </div>

            <div class="elementos-container">
                <div class="elemento-arma" id="escudo">
                    <img src="/static/img/Shield.png" alt="Escudo" width="200" height="200" />
                    <button>Escudo</button>
                </div>

                <div class="elemento-arma" id="manopla">
                    <img src="/static/img/manopla.png" alt="Manopla" width="200" height="200" />
                    <button>Manopla</button>
                </div>

                <div class="elemento-arma" id="soco">
                    <img src="/static/img/socoHulk.png" alt="Soco" width="200" height="200" />
                    <button>Soco</button>
                </div>
            </div>
            <div>
                <button id="calcular" type="button">CALCULAR DANO</button>
                <div>
                    <span id="dano"></span>
                </div>
            </div>


        </div>
    </div>
</body>

</html>